.respite-log {
  margin: 0px 2px;
  background: $first-gray;
  color: $background;
  font-size: 18px;
  height: 200px;
  width: 400px;
  border-radius: 10px;
  border: 2px solid #B7E8EB;
  padding: 8px 12px;
  overflow-y: scroll;
}
