.fight-stats {
  width: 15vw;
}

.progress-bar {
  width: 100%;
  justify-content: center;
}

.progress-labels {
  position: relative;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.health-bar {
  accent-color: $ocean;
  height: 40px;
  width: 100%;
  margin: 0;
  position: relative;
  top: -6px;
}

.energy-bar {
  accent-color: $light-blue;
  height: 40px;
  width: 100%;
  margin: 0;
  position: relative;
  top: -6px;
}

.game-info {
  display: flex;
  justify-content: space-between;
  overflow: wrap;
}

.game-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-log {
  margin: 0px 2px;
  background: $first-gray;
  color: $background;
  font-size: 18px;
  height: 110px;
  // width: 40vw;
  border-radius: 10px;
  border: 2px solid #B7E8EB;
  padding: 8px 12px;
  overflow-y: scroll;
}

.game-log:hover {
  box-shadow: 0px 0px 10px 4px $ocean-shadow;
}

.typewriter {
  // overflow: hidden; /* Ensures the content is not revealed until the animation */
  // border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
// @keyframes blink-caret {
//   from, to { border-color: transparent }
//   50% { border-color: orange; }
// }

.enemyPicture {
  height: 100vh;
  width: 60vw;
}

.enemyPicture div{
  height: 100%;
  width: 100%;
  canvas {
    height: 100%;
    width: 100%;
  }
}
canvas{
  border: 1px solid white;
  border-radius: 10%;
  box-shadow: 0 0 10px 5px white;
}

.hidden {
  display: none;
}

// Sweetalert styling to make the background blurred
body.swal2-shown > [aria-hidden="true"] {
  transition: 0.1s filter;
  filter: blur(10px);
}


// #exit-button {
//   text-decoration: none;
//   color: black;
// }

// #exit-button:hover {
//   text-decoration: none;
//   color: white;
// }
