#enemyPicture {
  height: 50vh;
}

#enemyPicture svg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

// #exit-button {
//   text-decoration: none;
//   color: black;
// }

// #exit-button:hover {
//   text-decoration: none;
//   color: white;
// }
