<div class="footer">
  <div class="footer-info">
    <%= link_to "About", root_path %>
    <%= link_to "Team", root_path %>
    <%= link_to "Donate now", root_path %>
  </div>
  <div class="footer-copyright">
    © 2022 Delve - all rights reserved
  </div>
  <div class="footer-links">
    <a href="https://github.com/JonasEthan"><i class="fab fa-github"></i></a>
  </div>
</div>
