<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/JonasEthan"><i class="fab fa-github"></i></a>
    <a href="https://www.youtube.com/watch?v=0p_1QSUsbsM"><i class="fa-brands fa-youtube"></i></a>
  </div>
  <div class="footer-copyright">
    © 2022 Delve - all rights reserved
  </div>
  <div class="footer-info">
    Delve
  </div>
</div>
