  <div class="player-stats">
    <p>Player stats</p>
    <div class="d-flex">
      <p>Health</p>
      <progress class="nes-progress is-success" value="50" max="100"></progress>
    </div>
    <div class="d-flex">
      <p>Energy</p>
      <progress class="nes-progress is-primary" value="30" max="100"></progress>
  </div>
