<div class="container mt-3 mb-3">
  <p><%= link_to request.referer.present? ? request.referer : root_path do %>
    <i class="fa-solid fa-backward"></i> Back
  <% end %></p>

  <div class="center-container">
    <div class="container-content">
      <h1>About Delve</h1>
      <%= render "shared/underline" %>
      <p class="mt-3">Delve was created to take you on a journey into the human mind...</p>
    </div>
  </div>
</div>
