<div class="container mt-3 mb-3">
  <p><%= link_to request.referer.present? ? request.referer : root_path do %>
    <i class="fa-solid fa-backward"></i> Back
  <% end %></p>

  <div class="center-container">
    <div class="container-content">
      <h1>About Delve</h1>
      <%= render "shared/underline" %>
      <br>
      <p class="mt-3">
        »Delve« is a game created to take you on a journey and delve into the human mind...
        Choose a path, fight enemies and learn about mental health!
      </p>
      <p class="mt-3">
        We believe that mental health is important, so we wanted to make it easy
        for people to learn about it in a fun and engaging way.
        <br>»Delve« presents mental health concepts in the form of a 2D fighting game,
        while also providing science-based resources about the topic.
      </p>
    </div>
  </div>
</div>
