<h1 class="text-center special-font">Coming Soon ...</h1>
<br>
<div data-controller="soon-animation" data-soon-animation-root-value="<%= image_url("The Collapse.png")%>" class="d-flex justify-content-center">
  <div class="flex-item">
    <canvas data-soon-animation-target="svg" class="teaser" height="600" width="250"></canvas>
  </div>
  <div class="m-1">
    <h4>Hello my <span class="special-font">friend</span> ...</h4>
    <p>We will <span class="special-font">soon</span> meet, I asume</p>
    <p>Though I have met and know of <span class="special-font">you</span></p>
    <p>Sadly you were not able to <span class="special-font">meet me</span></p>
    <p>But for now that is enough of pleasantries</p>
    <p>Proper introductions must sadly wait for a later time ...</p>
    <p>But I do wish you a lot of fun with <span class="special-font">Delve</span></p>
    <div class="d-flex justify-content-center">
      <%= link_to "Back", root_path, class:"btn btn-blue-start special-font" %>
    </div>
  </div>
</div>
