<div class="container mt-3 mb-3">
  <p><%= link_to request.referer.present? ? request.referer : root_path do %>
    <i class="fa-solid fa-backward"></i> Back
  <% end %></p>

  <div class="center-container">
    <div class="container-content">
      <h1 class="text-center special-font">Coming soon ...</h1>
      <%= render "shared/underline"%>
    </div>
  </div>
  <br>
  <div data-controller="soon-animation" data-soon-animation-root-value="<%= image_url("The Collapse.png")%>" class="d-flex justify-content-center">
    <div class="flex-item">
      <canvas data-soon-animation-target="svg" class="teaser" style="margin-right: 30px" height="600" width="250"></canvas>
    </div>
    <div class="mt-3">
      <h4>Hello my <span class="special-font">friend</span>,</h4>
      <p>We are finally able to <span class="special-font">meet</span>!</p>
      <p>I can't wait to for <span class="special-font">you</span> to find me</p>
      <p>Sadly I might not be that talkative yet, please forgive me for that.</p>
      <p>I can promise that when the time has come we will have a <span class="special-font">lot</span> to talk about</p>
      <p>But enough pleasantries: <span class="special-font">Come back shortly</span> for many more things to discover!</p>
      <p>In the meantime, I do wish you a lot of fun with</p>
      <h2 class="special-title gradient-title">Delve</h2>
    </div>
  </div>
</div>
