<div class="container mt-3 mb-3">
  <p><%= link_to request.referer.present? ? request.referer : root_path do %>
    <i class="fa-solid fa-backward"></i> Back
  <% end %></p>
  <div class="center-container">
    <div class="container-content">
      <h1>Overview</h1>
      <%= render "shared/underline" %>
      <p class="mt-5">xx.</p>
      <%= link_to "Continue", new_journey_path, class: "btn btn-ocean" %>
      <%= link_to "Exit", root_path, class: "btn btn-blue" %>
    </div>
  </div>
</div>
