<div class="container mt-3 mb-3">
  <p><%= link_to request.referer.present? ? request.referer : root_path do %>
    <i class="fa-solid fa-backward"></i> Back
  <% end %></p>
  <div class="center-container">
    <div class="container-content">
      <h1>Support mental health now</h1>
      <%= render "shared/underline" %>
      <p class="mt-5">Support people suffering from mental health issues by donating ...</p>
      <a href="" alt="Donate now" class="btn btn-melon">Donate now</a>
    </div>
  </div>
</div>
