<div class="container mt-3 mb-3">

  <section class="message-list">
    <section class="message -left">
      <div class="nes-balloon from-left">
<% sleep 2 %>
        <p>Hello Stranger...</p>
      </div>
    </section>
  </section>


    <h1 class="h1-class mb-3">Delve</h1>
 <div class="nes-container is-dark with-title">
    <p><span data-controller="typed-js"></span></p>
  <button type="button" class="nes-btn is-success">Start new</button>
  <a class="nes-btn" href="#">Continue </a>



</div>


  </div>
</div>
