<div class="container mt-3 mb-3">
    <h1 class="h1-class mb-3">Delve</h1>
 <div class="nes-container is-dark with-title">
    <p><span data-controller="typed-js"></span></p>
  <button type="button" class="nes-btn is-success">Start new</button>
  <a class="nes-btn" href="#">Continue </a>
  </div>


</div>
