<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= form_for @game do |f| %>
  <%= f.submit "Start Game", class: "btn btn-gradient" %>
<% end %>
<%#= link_to "Start Game", games_path, method: :post, class: "btn btn-gradient" %>
