<div class="container mt-3 mb-3">
  <h1 class="mb-3">Delve</h1>
  <p><span data-controller="typed-js"></span></p>
</div>



<%= form_for @game do |f| %>
  <%= f.submit "Start Game", class: "btn btn-gradient" %>
<% end %>
<%#= link_to "Start Game", games_path, method: :post, class: "btn btn-gradient" %>
