
<div class="center-screen-column">

  <div class="align-left">
    <h2><span data-controller="loading-typed-js"></span></h2>
  </div>

  <div id="line-under-loading">
    <%= render "shared/underline" %>
  </div>

</div>
