<div class="container text-center mt-3 mb-3">

  <div class="center-container">
    <div class="container-content" data-controller="loading">
      <div data-action="mouseover->loading#blur mouseout->loading#unblur">

          <p>Click to</p>
          <h2>Delve in...</h2>

      </div>
    </div>
  </div>

</div>
