
<div class="center-screen">

  <button class="btn btn-ocean" data-controller="loading" data-action="mouseover->loading#blur mouseout->loading#unblur">
    <h2>Delve in...</h2>
  </button>

  <h2><span data-controller="loading-typed-js"></span></h2>
  <%= render "shared/underline" %>

</div>
