<div class="center-screen">

  <div data-controller="loading">
    <div data-action="mouseover->loading#blur mouseout->loading#unblur">

        <p>Click to</p>
        <h2>Delve in...</h2>

    </div>
  </div>

</div>
