<div class="container mb-3 mt-3">
  <h1>Contributors to this project</h1>
  <div class="row">
    <img src="https://kitt.lewagon.com/placeholder/users/jonasethan" alt="contributor jonas" class="avatar-large">
    <p>Jonas</p>
  </div>
  <div class="row">
    <img src="https://kitt.lewagon.com/placeholder/users/hapalochlena" alt="contributor lena" class="avatar-large">
    <p>Lena</p>
  </div>
  <div class="row">
    <img src="https://kitt.lewagon.com/placeholder/users/lbiehl" alt="contributor lukas" class="avatar-large">
    <p>Lukas</p>
  </div>
</div>
