<div class="container mt-3 mb-3">
  <p><%= link_to request.referer.present? ? request.referer : root_path do %>
    <i class="fa-solid fa-backward"></i> Back
  <% end %></p>

  <div class="center-container">
    <div class="container-content">
      <h1>Contributors to this project</h1>
      <%= render "shared/underline" %>
      <div class="row mt-3">
        <img src="https://kitt.lewagon.com/placeholder/users/jonasethan" alt="contributor jonas" class="avatar-large">
        <%# <p>Jonas</p> %>
      </div>
      <div class="row">
        <img src="https://kitt.lewagon.com/placeholder/users/hapalochlena" alt="contributor lena" class="avatar-large">
        <%# <p>Lena</p> %>
      </div>
      <div class="row">
        <img src="https://kitt.lewagon.com/placeholder/users/lbiehl" alt="contributor lukas" class="avatar-large">
        <%# <p>Lukas</p> %>
      </div>
      <div class="row">
        <p>Art provided by the Talented The Janitor</p>
      </div>
    </div>
  </div>
</div>
