<h1>Test Fight</h1>

<h3><%= @enemy.name %></h3>
<h4>Health</h4>
<h5 id="enemyHealth"><%= @enemy.health %></h5>
<br>
<h3>Player</h3>
<h4>Health</h4>
<h5 id="playerHealth"><%= @character.health %></h5>
<h4>Energy</h4>
<h5><%= @character.energy %></h5>

<button id="attack">Attack</button>
