<div class="center-container">
  <div class="container-content">

    <h1>Amygd's Crossing</h1>
    <%= render "shared/underline" %>
    <p class="mt-3">Select your journey...</p>

    <div class="selection-form">
      <%= simple_form_for(@room) do |f| %>
      <%= f.input :journey_id,
                  label: "",
                  collection: @journeys.each { |journey_id| journey_id },
                  as: :radio_buttons,
                  input_html: {class: "tag-selector" },
                  item_wrapper_class: "tag-item",
                  class: "mt-2",
                  include_hidden: false %>
        <%= f.submit "Delve in", class: "btn btn-ocean mt-2" %>
      <% end %>
    </div>

  </div>
</div>
