<h1> <%= @room.enemy.name %> </h1> We can do it like this because of nested route ???

<%= @room.journey.run.game.character.health %> Works like this with nested routes ???? How to nest the routes ?
...
