.btn-ocean, .btn-ocean-start {
  background: $ocean;
  color: $background;
  padding: 8px 20px;
  border-radius: 2px;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-ocean-start {
  width: 17vw;
  overflow: wrap;
}

.btn-ocean:hover, .btn-ocean-start:hover {
  background: $ocean-hover;
  font-style: bolder;
  color: white;
  box-shadow: 0px 0px 10px 4px $ocean-shadow;
}

.btn-blue, .btn-blue-start {
  background: $light-blue;
  color: $background;
  padding: 8px 20px;
  border-radius: 2px;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-blue-start {
  width: 17vw;
  overflow: wrap;
}

.btn-blue:hover, .btn-blue-start:hover {
  background: $light-blue-hover;
  font-style: bolder;
  color: white;
  box-shadow: 0px 0px 10px 4px $light-blue-shadow;
}

.btn-melon {
  background: $melon;
  color: $background;
  padding: 8px 20px;
  border-radius: 2px;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-melon:hover {
  background: $melon-hover;
  font-style: bolder;
  color: white;
  box-shadow: 0px 0px 10px 4px $melon-shadow;
  }

  .btn-gray {
    background: $third-gray;
    color: $background;
    padding: 8px 20px;
    border-radius: 2px;
    transition: background 0.3s ease;
    text-decoration: none;
  }

  .btn-gray:hover {
    background: $second-gray;
    font-style: bolder;
    box-shadow: 0px 0px 10px 4px $light-blue-shadow;
  }
