.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: $background;
}

.center-container {
  display: flex;
  justify-content: center;
}

.blur {
  filter: blur(50px);
  transition: 10s !important;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}
