.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: $background;
}

.center-container {
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.blur {
  filter: blur(50px);
  transition: 10s !important;
}

.align-left {
  display: flex;
  text-align: left;
  justify-content: left;
  width: 30%;
}

#line-under-loading {
  display: flex;
  text-align: left;
  justify-content: left;
  width: 33%;
}
