h1, h2, h3, h4, h5, h6, p {
  color: $light-gray;
}

a {
  text-decoration: none;
  color: $first-gray;
}

a:hover {
  color: $ocean;
  text-shadow: 0px 0px $ocean-hover;
}

#enemy-completed {
  letter-spacing: 0.2em;
  margin-left: 0.4em;
}

small {
  color: $light-gray;
}
