.navbar-lewagon {
  // background: $background-hover !important;
  justify-content: space-between;
  color: rgba(0,0,0,0.3);

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.navbar-lewagon .nav-link:hover {
  color: $ocean !important;
  opacity: 1;
}
 