
# Stimulus actions
# --> listen to user clicking buttons of journey options
# --> journeys/menu view page gets created with options chosen here

# --> index action: Run.new
# + run params = 3 journey_id's selected in the form here that make up this run
# --> submit button triggers create action in runs controller

<% @journeys.each do |journey| %>
  <%= journey.title %>
<% end %>
# --> needs to be made into form with buttons
# SOMEHOW SUBMIT BUTTON AS LINK TO MENU ???
<a href="./journeys/menu">Let's go!</a>
